.header {
  width: 100%;
  height: 10rem;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
}
.main {
  padding-top: 15rem;
  z-index: 0;
  margin: 0 auto;
  width: 103rem;
  background-color: #ffffff;
  margin-bottom: 5rem;
}
.capitalize {
  text-transform: capitalize;
  text-align: left;
}
